# Appwrite Configuration
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=your_project_id
NEXT_PUBLIC_APPWRITE_DATABASE_ID=your_database_id
NEXT_PUBLIC_APPWRITE_COLDCALLS_COLLECTION_ID=your_coldcalls_collection_id
NEXT_PUBLIC_APPWRITE_TEAM_MEMBERS_COLLECTION_ID=your_team_members_collection_id
NEXT_PUBLIC_APPWRITE_ALERTS_COLLECTION_ID=your_alerts_collection_id
NEXT_PUBLIC_APPWRITE_COMPANIES_COLLECTION_ID=your_companies_collection_id
NEXT_PUBLIC_APPWRITE_TRANSCRIPTS_COLLECTION_ID=your_transcripts_collection_id
NEXT_PUBLIC_APPWRITE_NOTES_COLLECTION_ID=your_notes_collection_id
